<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <h1>로그인 페이지 입니다.</h1>


<!--    <p th:if="${loginError}" class="error">Wrong user or password</p>-->
    <form method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" /> <br />
        <input type="submit" value="Log in" />

    </form>
    <div>
        <a href="/login/regMember">회원 가입</a>
<!--        <input type="button" value="회원 가입" >-->
    </div>
</body>
</html>